<div class="container">
  <div class="preview">
    <div class="card" id="js-card" [ngStyle]="{'color': color, 'background': background, 'border-radius': borderRadius + 'px'}">
      <div class="card__container">
        <div class="card__top">
          <h2 class="card__name">{{name}}</h2>
          <p class="card__designation">{{designation}}</p>
        </div>
        <div class="card__bottom">
          <a href="tel:1234567890" class="card__phone">{{phone}}</a>
          <p class="card__city">{{place}}</p>
          <a href="mailto:abc@def.com" class="card__mail">{{mail}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="inputs">
    <div class="inputs__content">
      <input type="text" [(ngModel)]="name" placeholder="Name">
      <input type="text" [(ngModel)]="designation" placeholder="Designation">
      <input type="text" [(ngModel)]="phone" placeholder="Phone">
      <input type="text" [(ngModel)]="place" placeholder="Place">
      <input type="text" [(ngModel)]="mail" placeholder="Mail">
    </div>
    <div class="inputs__style">
      <div class="input">
        <span>Background Color</span>
        <input type="color" [(ngModel)]="background" placeholder="Color">
      </div>
      <div class="input">
        <span>Font Color</span>
        <input type="color" [(ngModel)]="color" placeholder="Color">
      </div>
      <div class="input">
        <input type="range" [(ngModel)]="borderRadius" min="0" max="20" step="1">
      </div>
    </div>
    <input type="submit" (click)="generateCard('jpg')" value="Generate JPG">
    <input type="submit" (click)="generateCard('svg')" value="Generate SVG">
  </div>
</div>

