.container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.card {
    width: 30rem;
    max-width: 30rem;
    min-width: 30rem;
    letter-spacing: 0.14em;
    font-weight: 700;
    z-index: 1;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.card__ghost-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.card__ghost-bg.pattern {
    opacity: 0.25;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.card__container.left {
    text-align: left;
    align-items: flex-start;
}
.card__container.center {
    text-align: center;
    align-items: center;
}
.card__container.right {
    text-align: right;
    align-items: flex-end;
}

.card__top {
}

.card__bottom {
    margin-top: 3rem;
}

.card__designation {
    text-transform: uppercase;
}

.card__city {
    margin-bottom: 1rem;
}



.inputs .inputs__content, .inputs .inputs__style {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.inputs input[type="text"] {
    padding: 1rem 3.2rem 1rem 0.4rem;
    border: 0;
    border-bottom: 1px solid #eee;
}

.inputs input {
    margin: 0.2rem;
    font-size: 0.9rem;
}

.inputs input[type="submit"] {    
    padding: 1rem 3.2rem;
}