
.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




.preview {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    outline: 2px solid #777;
}
